<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            background: url('/static/image/boyin.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .header {
            background-color: black;
            color: white;
            padding: 10px;
        }
        .header a {
            color: white;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h2>Welcome!</h2>
        <button class="btn btn-primary" onclick="location.href='{% url 'flight_selection' %}'">Flight Selection</button>
        <button class="btn btn-primary" onclick="location.href='{% url 'create_booking' %}'">Create Booking</button>
        <button class="btn btn-primary" onclick="location.href='{% url 'payment_template' %}'">Payment</button>
        <button class="btn btn-primary" onclick="location.href='{% url 'cancel_template' %}'">Cancel Booking</button>
    </div>
</body>
</html>